<connectionStrings>
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  <add name="NerdRideEntities" connectionString="metadata=res://*/Models.NerdRide.csdl|res://*/Models.NerdRide.ssdl|res://*/Models.NerdRide.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=u1zsls40n5.database.windows.net;initial catalog=NerdRide;persist security info=True;user id=NerdRide;password=N#r$R!d#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="NerdRideEntities" connectionString="metadata=res://*/Models.NerdRide.csdl|res://*/Models.NerdRide.ssdl|res://*/Models.NerdRide.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=u1zsls40n5.database.windows.net;initial catalog=NerdRide;persist security info=True;user id=NerdRide;password=N#r$R!d#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  <!--<add name="NerdRideEntities" connectionString="metadata=res://*/Models.NerdRide.csdl|res://*/Models.NerdRide.ssdl|res://*/Models.NerdRide.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=u1zsls40n5.database.windows.net;initial catalog=NerdRide;persist security info=True;user id=NerdRide;password=N#r$R!d#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="NerdRideEntities" connectionString="metadata=res://*/Models.NerdRide.csdl|res://*/Models.NerdRide.ssdl|res://*/Models.NerdRide.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NerdRide.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  <add name="ELMAH.SQLite" connectionString="Data Source=|DataDirectory|errors.s3db"/>
  <add name="NerdRideDB" connectionString="Server=tcp:u1zsls40n5.database.windows.net,1433;Database=[NerdRide];User ID=nerdride@u1zsls40n5;Password=N#r$R!d#;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
</connectionStrings>