@model webAppMVCIndexer3.Models.TextDataModel

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<fieldset>
    <legend>Text Indexer</legend>

    <div class="display-label"></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.text)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Home", "Text", new { /* id=Model.PrimaryKey */ }) 
</p>
