@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     This is a web application that reads dumps and stacktraces from a database. A file watcher service populates the dump information in the database based on dumps arriving in a watched folder.
</p>
