@model IEnumerable<StackTraceDatabase.StackTrace>

@{
    ViewBag.Title = "Dumps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dumps</h2>

<table>
    <tr>
        <th>
            StackTrace
        </th>
        <th>
            DumpFile
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Download", "Download", new { id=item.ID }) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StackTrace1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DumpFile)
        </td>
    </tr>
}

</table>
